<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho Vue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
 
    <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
            // props,
            // data,
            // methods:
            // computed:
            // watch,

        const produtoLista = [
            {
            id: 'abc123',
            nome: 'JsRaiz para FW',
            preco: 300,
            descricao: 'O melhor curso do mundo',
            imagem: 'https://lorempixel.com/500/300'        
            },
            {
                id: 'bbc123',
                nome: 'JsRaiz para Node',
                preco: 1200,
                descricao: 'O melhor curso de todos',
                imagem: 'https://lorempixel.com/500/300'        
            },
            {
                id: 'cbc123',
                nome: 'Programacao Funcional com JS',
                preco: 500,
                descricao: 'O melhor funcional de todos',
                imagem: 'https://lorempixel.com/500/300'        
            }
        ];

        const ProdutoComponent = {
            props: ['item'],
            methods: {
                addItem(item) {
                    this.$emit('add-item', item);
                }
            },
            template: `
            <div class="col-sm-4 mb-3">
                    <div class="card loja__item">
                        <img class="card-img-top" v-bind:src="item.imagem" />
                        <div class="card-body">
                            <h5 class="card-title">{{ item.nome }}</h5>
                            <small>R\${{ item.preco }}</small>
                            <p class="card-text">{{ item.descricao }}</p>
                            <button 
                                class="btn btn-primary"
                                v-on:click="addItem(item)"
                                >Adicionar</button>
                        </div>
                    </div>
                </div>
            
            `
        };

        const ListaProdutosComponent = {
            template: `
            <div class="row loja">
 
                <slot /> <!-- <Produto /> -->
            
            </div>
            `
        };

        const CarrinhoComponent = {
            props: ['itens'],
            computed: {
                total() {
                    return Object.keys(this.itens).reduce((acc, produtoId) => {
                        return acc + (this.itens[produtoId].preco * this.itens[produtoId].quantidade)
                    }, 0);                        
                }
            },
            methods: {
                removeItem(itemId) {
                    this.$emit('remove-item',itemId);
                }
            },
            template: `
            <div class="carrinho">
                <div class="carrinho__itens">

                    <div class="card carrinho__item" v-for="item in itens" v-bind:key="item.id">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.nome }}</h5>
                            <p class="card-text">Preco unidade: R\${{ item.preco }} | Quantidade: {{ item.quantidade }}</p>
                            <p class="card-text">Valor: R\${{ item.preco * item.quantidade }}</p>
                            <button 
                            @click="removeItem(item.id)"
                            class= "btn btn-danger btn-sm">Remover</button>
                        </div>
                    </div>
                    
                </div>
                <div class="carrinho__total carrinho__total mt-2 p-3">
                    <h6>Total: <strong>R\${{ total }}</strong></h6>
                </div>
            </div>            
            `
        };

        // Global Component
        // Vue.component('ListaProdutos', ListaProdutosComponent);

        new Vue({
            el: '#app',
            components: {
                ListaProdutos: ListaProdutosComponent,
                Produto: ProdutoComponent,
                Carrinho: CarrinhoComponent
            },
            data: function() {
                return {
                    itens: produtoLista,
                    carrinhoItens: {}
                }
            },
            methods: {
                addItemCarrinho(item) {
                    const quantidade = this.carrinhoItens[item.id]  
                    ? ++this.carrinhoItens[item.id].quantidade
                    : 1;

                    this.carrinhoItens = {
                        ...this.carrinhoItens,
                        [item.id]: {
                            ...item,
                            quantidade: quantidade
                        }
                    }
                },
                removeCarrinho(itemId){
                    if (this.carrinhoItens[itemId].quantidade <= 1) {
                        delete this.carrinhoItens[itemId];
                    } else {
                        --this.carrinhoItens[itemId].quantidade;
                    }

                    this.carrinhoItens = { ...this.carrinhoItens }
                }
            },
            template: `
            <div class="container">
                <h1>Carrinho Vue</h1>
                <hr>
                <div id="app" class="row">
                    <div class="col-sm-8">

                        <ListaProdutos>
                            <Produto 
                                v-for="produto in itens" 
                                v-bind:item="produto"
                                v-bind:key="produto.id"
                                v-on:add-item="addItemCarrinho"
                            />
                        </ListaProdutos>
                        
                    </div>
                    <div class="col-sm-4">
                    
                        <Carrinho 
                            v-bind:itens="carrinhoItens" 
                            v-on:remove-item="removeCarrinho"
                        />

                    </div>
                </div>
            </div>
            `    
        });
    </script>
</body>
</html>